::ng-deep .jsoneditor.jsoneditor-mode-tree {
    height: 400px;    
}

::ng-deep .jsoneditor-button.jsoneditor-contextmenu-button {
    display: none;
}

::ng-deep .jsoneditor-tree .jsoneditor-button.jsoneditor-collapsed {
    background-position: 0px -144px;
}

::ng-deep .jsoneditor-tree .jsoneditor-button.jsoneditor-expanded {
    background: transparent url(../assets/svg-icon.svg);
    background-position: -25px -167px;
}

::ng-deep div.jsoneditor-default, ::ng-deep div.jsoneditor-field, ::ng-deep div.jsoneditor-readonly, ::ng-deep div.jsoneditor-value {
    font-size: 14pt;
}

ul, ol {
    list-style: none;
}

input {
    border: 0px;
    width: 240px;
}

input:focus {
    outline: 0px;
    box-shadow: none;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.color-highlight {
    color: #06a011;
    background: #fcfddd;
    border-radius: 0.25rem;
}

.original-highlight {
    color: red;
}


/* ::ng-deep .jsoneditor-menu {
    position: relative;
}

::ng-deep .jsoneditor-expand-all {
    position: absolute;
    left: 204px;
}

::ng-deep .jsoneditor-collapse-all {
    position: absolute;
    left: 235px;
}

::ng-deep .jsoneditor-undo.jsoneditor-separator {
    position: absolute;
    left: 265px;
}

::ng-deep .jsoneditor-redo {
    position: absolute;
    left: 305px;
}

::ng-deep .jsoneditor-search {
    position: absolute;
    left: 4px;
} */