<div class="container">
  <div class="row mt-4 mb-4 p-2">
    <div class="col-sm-12">
      <h1>Angular 10 Recursive List</h1>
      <br />
      <ul>
        <ng-template #recursiveList let-convertedTreeJson>
          <li *ngFor="let item of convertedTreeJson; let ind = index" class="mt-1">
            <a *ngIf="item.children && item.children.length > 0" class="card-link" data-toggle="collapse"
              href="#collapse{{item.key}}{{item.key.charAt(0)}}" (click)="item.expanded = !item.expanded">
              <span style="font-size: '20px'">{{item.expanded ? '-' : '+'}}</span>
            </a>
            {{item.key}} <span class="mr-2">:</span>
            <input *ngIf="item.value || (item.value == 0) || (item.value == null)" [attr.disabled]="item.disableKey ? '' : null" [(ngModel)]="item.value" name="{{item.key}}"
              class="{{item.highlight}}" (input)="valueOnChange($event, item)" type="text">
            <span class="p-2 pl-3 ml-5 original-highlight" *ngIf="item.highlight && item.highlight.length > 0">{{item.duplicateValue}}</span>

            <ul *ngIf="item.children && item.children.length > 0" class="collapse show"
              id="collapse{{item.key}}{{item.key.charAt(0)}}">
              <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
            </ul>
          </li>
        </ng-template>
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: convertedTreeJson }"></ng-container>
      </ul>
    </div>
    <button (click)="saveJSON()">Save JSON</button>
  </div>
</div>

<div class="row mt-4 p-2">
  <div class="col-sm-4">
    <h4>JSON</h4>
    <pre>{{data | json}}</pre>
  </div>

  <div class="col-sm-4">
    <h4>Tree JSON</h4>
    <pre>{{convertedTreeJson | json}}</pre>
  </div>

  <div class="col-sm-4">
    <h4>Tree JSON to Normal JSON</h4>
    <pre>{{normalJson | json}}</pre>
  </div>
</div>